In [63]:
import numpy as np
import pandas as pd
%matplotlib inline
from sklearn.preprocessing import OneHotEncoder,LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score, accuracy_score,precision_score,f1_score, confusion_matrix,roc_auc_score
from sklearn.multiclass import BaseEstimator

In [64]:
df = pd.read_csv('https://s3.amazonaws.com/drivendata/data/7/public/4910797b-ee55-40a7-8668-10efd5c1b960.csv')
df.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [65]:
df.shape

(59400, 40)

In [66]:
df.to_csv('data/training_features.csv')

In [67]:
df.isna().sum()

id                           0
amount_tsh                   0
date_recorded                0
funder                    3635
gps_height                   0
installer                 3655
longitude                    0
latitude                     0
wpt_name                     0
num_private                  0
basin                        0
subvillage                 371
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            3334
recorded_by                  0
scheme_management         3877
scheme_name              28166
permit                    3056
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
dtype: int64

In [68]:
df.columns

Index(['id', 'amount_tsh', 'date_recorded', 'funder', 'gps_height',
       'installer', 'longitude', 'latitude', 'wpt_name', 'num_private',
       'basin', 'subvillage', 'region', 'region_code', 'district_code', 'lga',
       'ward', 'population', 'public_meeting', 'recorded_by',
       'scheme_management', 'scheme_name', 'permit', 'construction_year',
       'extraction_type', 'extraction_type_group', 'extraction_type_class',
       'management', 'management_group', 'payment', 'payment_type',
       'water_quality', 'quality_group', 'quantity', 'quantity_group',
       'source', 'source_type', 'source_class', 'waterpoint_type',
       'waterpoint_type_group'],
      dtype='object')

In [69]:
features = pd.read_csv('data/training_features.csv')
labels = pd.read_csv('data/training_labels.csv')

In [70]:
features

,Unnamed: 0,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,59395,60739,10.0,2013-05-03,Germany Republi,1210,CES,37.169807,-3.253847,Area Three Namba 27,...,per bucket,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
59396,59396,27263,4700.0,2011-05-07,Cefa-njombe,1212,Cefa,35.249991,-9.070629,Kwa Yahona Kuvala,...,annually,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe
59397,59397,37057,0.0,2011-04-11,NaN,0,NaN,34.017087,-8.750434,Mashine,...,monthly,fluoride,fluoride,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump
59398,59398,31282,0.0,2011-03-08,Malec,0,Musa,35.861315,-6.378573,Mshoro,...,never pay,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump
59399,59399,26348,0.0,2011-03-23,World Bank,191,World,38.104048,-6.747464,Kwa Mzee Lugawa,...,on failure,salty,salty,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump

In [71]:
labels

       Unnamed: 0     id    status_group
0               0  69572      functional
1               1   8776      functional
2               2  34310      functional
3               3  67743  non functional
4               4  19728      functional
...           ...    ...             ...
59395       59395  60739      functional
59396       59396  27263      functional
59397       59397  37057      functional
59398       59398  31282      functional
59399       59399  26348      functional

[59400 rows x 3 columns]

In [72]:
merged_df = pd.merge(labels, features)
merged_df

,Unnamed: 0,id,status_group,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,0,69572,functional,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,1,8776,functional,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,2,34310,functional,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,3,67743,non functional,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,4,19728,functional,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,59395,60739,functional,10.0,2013-05-03,Germany Republi,1210,CES,37.169807,-3.253847,...,per bucket,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
59396,59396,27263,functional,4700.0,2011-05-07,Cefa-njombe,1212,Cefa,35.249991,-9.070629,...,annually,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe
59397,59397,37057,functional,0.0,2011-04-11,NaN,0,NaN,34.017087,-8.750434,...,monthly,fluoride,fluoride,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump
59398,59398,31282,functional,0.0,2011-03-08,Malec,0,Musa,35.861315,-6.378573,...,never pay,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump
59399,59399,26348,functional,0.0,2011-03-23,World Bank,191,World,38.104048,-6.747464,...,on failure,salty,salty,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump

In [73]:
X_train, X_test, y_train, y_test = train_test_split(features, labels, random_state=2020, test_size=0.25)

In [74]:
len(X_train)

44550

In [75]:
len(y_train)

44550

In [76]:
df = pd.merge(y_train, X_train)
df

,Unnamed: 0,id,status_group,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,29193,41434,functional,0.0,2011-07-18,P,0,P,33.037555,-2.411289,...,monthly,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump
1,35859,47577,functional,1200.0,2013-01-21,Government Of Tanzania,1228,DWE,30.254171,-4.530045,...,annually,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe
2,57006,55982,functional,0.0,2012-10-07,Tasaf,0,DWE,31.515446,-3.335620,...,unknown,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
3,15959,25879,non functional,0.0,2013-02-20,World Vision,954,World vision,36.838153,-3.650579,...,unknown,salty,salty,insufficient,insufficient,shallow well,shallow well,groundwater,other,other
4,21582,13900,functional,0.0,2011-07-27,NaN,0,NaN,33.540494,-9.162976,...,never pay,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44545,18523,43021,functional needs repair,0.0,2011-07-23,In,1944,Vill,31.367762,-7.786972,...,never pay,unknown,unknown,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe
44546,44739,49821,non functional,0.0,2011-08-25,Dwe,1521,DWE,31.827198,-8.391348,...,never pay,soft,good,dry,dry,shallow well,shallow well,groundwater,other,other
44547,47734,2983,functional,0.0,2011-04-18,Tanzakesho,0,DWE,32.940920,-9.166375,...,never pay,soft,good,enough,enough,spring,spring,groundwater,other,other
44548,40259,45192,functional,500.0,2013-03-28,Mbiuwasa,1293,MBIUWASA,35.009905,-10.938834,...,monthly,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
44549,41824,28256,functional,0.0,2011-04-08,NaN,0,NaN,34.214277,-8.712362,...,monthly,soft,good,seasonal,seasonal,river,river/lake,surface,communal standpipe,communal standpipe

In [77]:
df.shape

(44550, 42)

In [78]:
df.columns

Index(['Unnamed: 0', 'id', 'status_group', 'amount_tsh', 'date_recorded',
       'funder', 'gps_height', 'installer', 'longitude', 'latitude',
       'wpt_name', 'num_private', 'basin', 'subvillage', 'region',
       'region_code', 'district_code', 'lga', 'ward', 'population',
       'public_meeting', 'recorded_by', 'scheme_management', 'scheme_name',
       'permit', 'construction_year', 'extraction_type',
       'extraction_type_group', 'extraction_type_class', 'management',
       'management_group', 'payment', 'payment_type', 'water_quality',
       'quality_group', 'quantity', 'quantity_group', 'source', 'source_type',
       'source_class', 'waterpoint_type', 'waterpoint_type_group'],
      dtype='object')

In [79]:
df.isna().sum()

Unnamed: 0                   0
id                           0
status_group                 0
amount_tsh                   0
date_recorded                0
funder                    2680
gps_height                   0
installer                 2702
longitude                    0
latitude                     0
wpt_name                     0
num_private                  0
basin                        0
subvillage                 288
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            2537
recorded_by                  0
scheme_management         2954
scheme_name              21181
permit                    2275
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
dtype: int64

In [80]:
def check_for_nans(df):
    #helper function to check for nans in dataframe
    nan_counts = pd.DataFrame(df.isna().sum(), columns=['nan_count'])
    return nan_counts[nan_counts['nan_count'] > 0]

In [81]:
list(check_for_nans(df).index)

['funder',
 'installer',
 'subvillage',
 'public_meeting',
 'scheme_management',
 'scheme_name',
 'permit']

In [82]:
df.loc[:, ['scheme_management', 'scheme_name']].head()

  scheme_management     scheme_name
0               VWC             NaN
1   Water authority  Maji ya kutega
2               WUG             NaN
3               NaN             NaN
4               VWC               K

In [83]:
df.drop(['scheme_name'], axis=1, inplace=True)

In [84]:
df.scheme_management.value_counts(dropna=False)

VWC                 27544
WUG                  3965
NaN                  2954
Water authority      2337
WUA                  2172
Water Board          2019
Parastatal           1269
Company               800
Private operator      769
Other                 590
SWC                    71
Trust                  60
Name: scheme_management, dtype: int64

In [85]:
def fillnan_as_unknown(df, name):
    #helper function for filling nans with Unknowns 
    df[name].fillna('unknown', inplace=True)

In [86]:
fillnan_as_unknown(df, 'scheme_management')

In [87]:
check_for_nans(df)

                nan_count
funder               2680
installer            2702
subvillage            288
public_meeting       2537
permit               2275

In [88]:
df_subset = df.loc[:, ['subvillage', 'region', 'basin', 'region_code', 'district_code', 'lga', 'ward']]
df_subset.head()

,subvillage,region,basin,region_code,district_code,lga,ward
0,1,Mwanza,Lake Victoria,19,8,Ilemela,Nyakato
1,Gwiru,Kigoma,Lake Tanganyika,16,2,Kasulu,Ruhita
2,Buganzu,Shinyanga,Lake Tanganyika,17,5,Bukombe,Uyovu
3,Shuleni,Manyara,Pangani,21,4,Simanjiro,Shambarai
4,Ilongovoto,Mbeya,Lake Nyasa,12,4,Rungwe,Kiwira

In [89]:
len(df_subset.subvillage.value_counts())

16578

In [90]:
df_subvillage_nans = df_subset[df_subset['subvillage'].isna()]
col_names = list(df_subset.columns)
col_names[1:]

for name in col_names[1:]:
    print('Unique values for '+ name.upper() + ' where SUBVILLAGE values are Nans: ', df_subvillage_nans[name].unique())

Unique values for REGION where SUBVILLAGE values are Nans:  ['Dodoma' 'Mwanza']
Unique values for BASIN where SUBVILLAGE values are Nans:  ['Wami / Ruvu' 'Lake Victoria']
Unique values for REGION_CODE where SUBVILLAGE values are Nans:  [ 1 19]
Unique values for DISTRICT_CODE where SUBVILLAGE values are Nans:  [3 1]
Unique values for LGA where SUBVILLAGE values are Nans:  ['Kongwa' 'Ukerewe']
Unique values for WARD where SUBVILLAGE values are Nans:  ['Sagara' 'Mlali' 'Chamkoroma' 'Sejeli' 'Bukindo' 'Mkoka' 'Iduo' 'Bwisya'
 'Pandambili' 'Kongwa Urban' 'Mtanana' 'Njoge' 'Ugogoni' 'Kibaigwa'
 'Zoissa' 'Hogoro' 'Bukiko' 'Namilembe' 'Bwiro']

In [91]:
fillnan_as_unknown(df, 'subvillage')

In [92]:
check_for_nans(df)

                nan_count
funder               2680
installer            2702
public_meeting       2537
permit               2275

In [93]:
df.funder.value_counts(dropna=False)

Government Of Tanzania    6820
NaN                       2680
Danida                    2411
Hesawa                    1706
Rwssp                     1068
                          ...
Mafwimbo                     1
Raurensia                    1
Prof. Saluati                1
Kajima                       1
Rotery C                     1
Name: funder, Length: 1647, dtype: int64

In [94]:
fillnan_as_unknown(df, 'funder')

In [95]:
check_for_nans(df)

                nan_count
installer            2702
public_meeting       2537
permit               2275

In [96]:
df.installer.value_counts(dropna=False)

DWE                    13077
NaN                     2702
Government              1370
RWE                      917
Commu                    801
                       ...
MH Kapuya                  1
Water hu                   1
Private company            1
MKONGO CONSTRUCTION        1
Kalugendo                  1
Name: installer, Length: 1868, dtype: int64

In [97]:
fillnan_as_unknown(df, 'installer')

In [98]:
check_for_nans(df)

                nan_count
public_meeting       2537
permit               2275

In [99]:
df.public_meeting.value_counts(dropna=False)

True     38197
False     3816
NaN       2537
Name: public_meeting, dtype: int64

In [100]:
df[df['public_meeting'] == True].status_group.value_counts()

functional                 21339
non functional             14129
functional needs repair     2729
Name: status_group, dtype: int64

In [101]:
df[df['public_meeting'] == False].status_group.value_counts()

non functional             1852
functional                 1640
functional needs repair     324
Name: status_group, dtype: int64

In [102]:
fillnan_as_unknown(df, 'public_meeting')

In [103]:
df[df['public_meeting'] == 'unknown'].status_group.value_counts()

functional                 1270
non functional             1155
functional needs repair     112
Name: status_group, dtype: int64

In [104]:
df.permit.value_counts(dropna=False)

True     29190
False    13085
NaN       2275
Name: permit, dtype: int64

In [117]:
fillnan_as_unknown(df, 'permit')

In [118]:
check_for_nans(df)

Empty DataFrame
Columns: [nan_count]
Index: []

In [121]:
import os, sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.model_selection import train_test_split

In [122]:
module_path = os.path.abspath(os.path.join(os.pardir))
if module_path not in sys.path:
    sys.path.append(module_path)

In [116]:
from src.data_cleaning import cleaning_functions as cfs

ModuleNotFoundError: No module named 'src'

In [119]:
def load_data_files():
    """In this function we use the Pandas read_csv method to 
    convert the csv files in dataframes.
    
    We then split the dataframes into training and testing sets 
    
    Next we combine the X_train and y_train into one dataframe 
    
    in the end we return the X_train, X_test, y_train, y_test and merged dataframe"""
    
    #read csvs
    import pandas as pd
    features = pd.read_csv('../../data/training_set_values.csv')
    labels = pd.read_csv('../../data/training_set_labels.csv')
    
    #train and test split, random_state of 2020, test_size = 25%
    from sklearn.model_selection import train_test_split
    X_train, X_test, y_train, y_test = train_test_split(features, labels, random_state=2020, test_size=0.25)
    
    #combine X_train and y_train on common ids
    df = pd.merge(y_train, X_train) 
    
    return X_train, X_test, y_train, y_test, df

In [120]:
X_train, X_test, y_train, y_test, df = cfs.load_data_files()

NameError: name 'cfs' is not defined

In [ ]:
cfs.fill_all_nans(df)

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
column_names = list(df.columns)
for x in ['id', 'amount_tsh', 'date_recorded', 'population']:
    column_names.remove(x)
for name in column_names:
    print('Unique values for ' +name.upper()+ ' :', df[name].unique())

In [ ]:
df.drop(['id', 'date_recorded', 'recorded_by', 'wpt_name', 'scheme_name', 'num_private'], axis=1, inplace=True )

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
target = le.fit_transform(df['status_group'])
le.classes_

In [ ]:
{k:v for k,v in zip(
    le.transform(['functional', 'functional needs repair', 'non functional']), 
                        ['functional', 'functional needs repair', 'non functional'])}

In [ ]:
target = pd.DataFrame(target, columns=['target'])
df = pd.concat([target, df], axis=1)
df.drop('status_group', axis=1, inplace=True))

In [ ]:
df.target.value_counts(normalize=True)

In [ ]:
df.corr()

In [ ]:
df.corr()['target'].sort_values(ascending=False)

In [ ]:
sns.pairplot(df)
sns.set(font_scale = 3)
plt.show();

In [ ]:
sub_df_region = df.loc[:, ['target', 'basin', 'subvillage', 'region', 'region_code', 'district_code', 'lga', 'ward']]
sub_df_region

In [ ]:
plt.figure(figsize=(14,8))
sns.scatterplot(df.region_code, df.district_code, hue=df.target)
sns.set(font_scale=1);

In [ ]:
df_sub_basin = df.loc[:, ['target', 'basin']]
for i in [0,1,2]:
    #collecting counts for each basin with regards to each class(0,1,2)
    counts = df_sub_basin[df_sub_basin['target'] == i].basin.value_counts()
    counts = list(zip(counts.index, counts.values))
    
    #sorting basins alphabetically
    sorted_counts = sorted(counts, key=lambda x: x[0])
    keys, values = zip(*sorted_counts)
    ax = axs[i]
    
    #plotting the counts
    ax.bar(keys, values)
    
    #to make it easier to see all labels
    ax.tick_params(axis='x', labelrotation=90, labelsize=12)
    ax.tick_params(axis='y', labelsize=12)
    ax.set_xlabel('Basin', fontsize=15)
    ax.set_ylabel('Waterpoint Counts', fontsize=15)
    #to on see labels on the outer y axis
    ax.label_outer()

    
#settin titles     
names = ['Functional', 'Functional Needs Repair', 'Non Functional']
    
for i,j in enumerate(names):
    ax = axs[i]
    ax.set_title(j + ' Waterpoint', fontsize=15)
    
plt.show();

In [ ]:

basin_count = df.groupby('basin').target.value_counts(sort=False)

plt.figure(figsize=(20,8))
sns.barplot(x=basin_count.index, y=basin_count, palette=['teal', 'green', 'orange'])
plt.tick_params(axis='x', labelrotation=90, labelsize=15)
plt.tight_layout()
plt.show()

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
sub_df_basin = df.loc[:, ['target', 'basin']]
ohe = OneHotEncoder(categories='auto', handle_unknown='ignore')
single_feature_df = sub_df_basin[['basin']]
ohe.fit(single_feature_df)
feature_array = ohe.transform(single_feature_df).toarray()
ohe_df = pd.DataFrame(feature_array, columns=ohe.categories_[0], index=sub_df_basin.index)
sub_df_basin = sub_df_basin.drop('basin', axis=1)
sub_df_basin = pd.concat([sub_df_basin, ohe_df], axis=1)

sub_df_basin

In [ ]:
sub_df_basin.corr().target.sort_values()

In [ ]:
def find_corr_for_category(name, df=df):
    """This function takes in categorical feature name and
    Onehot incodes it and spits out a corrwelation with the classes
    Reminder: {0: 'functional', 1: 'functional needs repair', 2: 'non functional'}
    So if there's a high positive correlation then that would mean that the higher the 
    feature impacts non-functional waterpoints and if there's high negative correlation
    then the feature impacts functional waterpoints
    """
    
    sub_df = df.loc[:, ['target', name]]
    ohe = OneHotEncoder(categories='auto', handle_unknown='ignore')
    single_feature_df = sub_df[[name]]
    ohe.fit(single_feature_df)
    feature_array = ohe.transform(single_feature_df).toarray()
    ohe_df = pd.DataFrame(feature_array, columns=ohe.categories_[0], index=sub_df.index)
    sub_df = sub_df.drop(name, axis=1)
    sub_df = pd.concat([sub_df, ohe_df], axis=1)
    correlation = sub_df.corr().target.sort_values()
    return correlation

In [ ]:
find_corr_for_category('region')

In [ ]:
def plot_relation_with_target(name, df):
    plt.figure(figsize=(20,8))

    counts = df.groupby([name]).target.value_counts(sort=False)

    sns.barplot(x=counts.index, y=counts)
    plt.tick_params(axis='x', labelrotation=90, labelsize=15)
    plt.xlabel(name.capitalize(), fontsize=18)
    plt.ylabel('Counts', fontsize=18)
    plt.tight_layout()
    return plt.show()

plot_relation_with_target('region_code', df)

In [ ]:
def plot_relation_with_target_normalized(name, df):
    plt.figure(figsize=(20,8))

    counts = df.groupby([name]).target.value_counts(sort=False, normalize=True)

    sns.barplot(x=counts.index, y=counts)
    plt.tick_params(axis='x', labelrotation=90, labelsize=15)
    plt.xlabel(name.capitalize(), fontsize=18)
    plt.ylabel('Counts', fontsize=18)
    plt.tight_layout()
    return plt.show()

plot_relation_with_target_normalized('region_code', df)

In [ ]:
df.groupby(['subvillage']).target.value_counts(sort=False)

In [ ]:
len(df.subvillage.unique())

In [ ]:
df.drop('subvillage', axis=1, inplace=True)

In [ ]:
dist_code_count = df.groupby('district_code').target.value_counts(sort=False, normalize=True)

plt.figure(figsize=(20,8))
sns.barplot(x=dist_code_count.index, y=dist_code_count)
plt.tick_params(axis='x', labelrotation=90, labelsize=15)
plt.tight_layout()
plt.show()

In [ ]:
lga_dist = df.groupby('lga').target.value_counts(sort=False, normalize=True)

In [ ]:
plt.figure(figsize=(20,8))
sns.barplot(x=lga_dist.index, y=lga_dist)
plt.tick_params(axis='x', labelrotation=90, labelsize=7)
plt.tight_layout()
plt.show()

In [ ]:
len(df.lga.unique())

In [ ]:
find_corr_for_category('lga')

In [ ]:
len(df.ward.unique())

In [ ]:
df.groupby('ward').target.value_counts(sort=False, normalize=True)

In [ ]:
df.drop('ward', axis=1, inplace=True)

In [ ]:
df.head(7)

In [ ]:
df.columns